<h1 class="h1-about">Sobre</h1>
<section class="about">
  <p>Nosso site é dedicado á conscientização e gestão adequada dos produtos eletrônicos descartados.  Com isso, disponibilizamos serviços de coleta de lixo eletrônico, aonde o cliente fica no conforto da sua casa enquanto nossos profissionais se dirigem até sua localização e coletam para em seguida realizar o descarte ou reciclagem dos lixos coletados.</p>

  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, aspernatur. Quam, aperiam qui voluptas aliquam sit, magnam sint quo velit numquam at perspiciatis harum laudantium ipsa amet dolorum inventore officia?</p>
<div>
  <img width="600px" src="/img/Group 2.png" alt="">
</div>
</section>