<section class="map">
  <h1>Mapa</h1>
  <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d89015.15873436106!2d-35.71344696874908!3d-9.59945356323728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sempresas%20de%20lixo%20eletronico!5e0!3m2!1spt-BR!2sbr!4v1697198438089!5m2!1spt-BR!2sbr" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy=""></iframe>
</section>